@font-face {
    font-family: mainfont;
    src: url('fonts/GothamNarrow-Book.otf');
}

body {
    background-color: #eaeaea;
    font-family: mainfont;
}

svg:not(:root) {
    overflow: visible;
}

.tick line {
    stroke: #c5c5c5;
}

.bubble-highlight {
    fill: blue;
        stroke-width: 1;
    shape-rendering: crispEdges;
        stroke: #eaeaea;    
}

.bubble {
    stroke: #eaeaea;
    fill: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.yearselect {
    background-color: white;
    border-color: #50596c;
    color: #50596c;
}

.greyout {
    color: grey;
    background-color: #eaeaea;
}

.btn-group{
    margin-bottom: 5px;
}

#svg-header {
    background-color: #eaeaea;
    height: 140px;
}

#svg-main {
    height: 1000px;
    position: relative;
    overflow: visible;
}


.show {
    display: inherit;
}

.textbubble {
    fill: white;
    stroke: black;
    font-size: 0.8em;
    width: 150px;
    height: 100px;
    max-height: 120px;
    overflow: hidden;
}


.horiz-line{
    stroke: black;
}

.subreddit-label{
    color: blue;
    font-size: 1.3em;
}

.year-footnote{
    font-size: 0.8em;
}

#articleCountIndicator, #submitbutton{
    background-color: white;
    color: #50596c;
}

.articleCount{
    color: #50596c;
    border-color: #50596c;
}

.center-text{
    text-align: center;
}

#formbox{
    margin: auto;
}

.bubcontainer{
    background-color: white;
    y: -100%;
}

.bubdate, .bubpoints {
    text-align: center;
}

.instruct{
    padding-top: 1em;
    font-size: 1.2em;    
}

.fullw{
    width: 100%;
}

.yearbox{
    width: 275px;
}

.articlecountbox{
    width: 78px;
}

.card-container{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.iframe{
        z-index: 99;
    background-color: red;
    width: 600px;
    height: 400px;
}